<%# @articles.each do |article| %>
<div class="row">
  <div class="col-sm-3 col-sm-offset-8">
    <%= paginate obj, theme: 'twitter-bootstrap-3' %>
  </div>
</div>
<% obj.each do |article| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="well">
        <%= link_to article.title, article_path(article), class: "link-success fs-3" %><br>
        <%= truncate(article.description, length: 100) %><br>
        <div class="article-meta-details">
          <small> Created by: <%= article.user.username if article.user  %>,
            <%= time_ago_in_words(article.created_at) %> ago,
            last updated: <%= time_ago_in_words(article.updated_at) %> ago
          </small>
        </div>
        <div class="col-sm-offset-10">
          <%= link_to "Delete", article_path(article),
                      method: :delete,
                      data: { confirm: "Are you Sure?" },
                      class: "btn btn-danger btn-lg" %>
          <%= link_to :Update, edit_article_path(article), class: "btn btn-secondary btn-lg" %>
        </div>
      </div>

    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-3 col-sm-offset-8">
    <%= paginate obj, theme: 'twitter-bootstrap-3' %>
  </div>
</div>