<!DOCTYPE html>
<html>
<head>
  <title>Alpha Blog</title>
</head>
<body>

<br>
<%= link_to('Home', root_path) %> |
<%= link_to('Articales', articles_path) %> |
<%= link_to('New Blog', blogs_path) %> |
<%= link_to('About', welcome_about_path) %> |
<%= link_to('Search', welcome_about_path) %> |
<h1>All way the up!!!!!!!!!!</h1>
<!--app/assets/images/img2.jpeg-->
<%#= image_tag("img2.jpeg", option = {width:1400 , height:700}) %>
</body>
</html>
